<div class="first">
    <div class="container">
        <div class="box box3" (click)="childrenShoses()">
            <img src='../../assets/images/children.jpg' alt=''>
        </div>
        <div class="box box2" (click)="girlsShoses()">
            <img src='../../assets/images/shoes.jpg' alt=''>
        </div>
        <div class="box box1">
            <img src='../../assets/images/center.jpg' alt=''>
        </div>
        <div class="box box4" (click)="pants()">
            <img src='../../assets/images/pant.jpg' alt=''>
        </div>
        <div class="box box5" (click)="t_shirt()">
            <img src='../../assets/images/plosa.png' alt=''>
        </div>
        <div class="box box6" (click)="girls_dresses()">
            <img src='../../assets/images/dress.jpg' alt=''>
        </div>
        <div class="box box7" (click)="childrenCloths()">
            <img src='../../assets/images/clothingchildren.jpg' alt=''>
        </div>
    </div>
</div>